$base-color: #262626;
$secondary-grey: #404040;
$game-item-background: #dedede;
$discount: #00905e;
$light-green: #00c58b;
$white: #fff;
$black: #000;
$body-background: #bcb9c1;
$purple: #b65ae2;
$purple-second: #7c3ec7;